<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input type="text" class="form-control" id="remedio" autocomplete="off" placeholder="Nome do remédio">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id="resultados_busca">
    </ul>
    <div id="sem_resultado" style="display: none">
      Ainda não sabemos onde tem medicação :( <br />
      Caso você descubra, por favor nos <a href="">avise</a>.
    </div>
  </div>
</div>

<script type="text/javascript">

  var remedios = [];
  $.getJSON( "<%= remedio_list_path %>", function( data ) {
    $.each( data, function( key, val ) {
      remedios.push(val.nome);
    });
  });

  $(document).ready(function(){
    $('#remedio').typeahead({ source: remedios });
  })

  $("#remedio").on("change", function() {
    var valor_campo =  $(this).val();
    var resultados_busca = $("#resultados_busca");

    var jqxhr = $.post( "<%= search_remedio_path %>", { nome_remedio: valor_campo }, function( data ) {
      resultados_busca.html("");
      $.each( data, function( key, val ) { 
        resultados_busca.append( "<li>"+ val.farmacia + "<br />" + val.endereco + "<br />" + val.telefone +"</li>" );
      });
      resultados_busca

      if(data.length == 0 && valor_campo != ""){
        $("#sem_resultado").show();
      }else{
        $("#sem_resultado").hide();
      }

    });
  });
</script>